html {
  box-sizing: border-box;
  margin-top: -35px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
    font-family: Maxim;
    src: url(../Fonts/Maxim.otf);
}

@font-face {
    font-family: Murmers;
    src: url(../Fonts/Murmers.otf);
}

body{
  width: 100%;
  margin: 0 0 0 0 ;
}

h1, p {
  color: white;
}

/*Home Section*/
.home{
  width: 100%;
  height: 650px;
  background-color: black;
}

.home--title{
  background-image: url("assets/main-pic.jpg");
  float: left;
  width: 50%;
  height: 100%;
}

.home--title h1{
  color: black;
  font-family: Maxim;
  font-size: 100px;
  position: absolute;
}

.title--first-name{
  top: 111px;
  left: 75px;
  z-index: 2;
  
}

.title--last-name{
  top: 209px;
  left: 287px;
  z-index: 2;
}

.intro--paragraph{
  position: relative;
  top: 205px;
  font-family: Murmers;
  font-size: 35px;
}

.title--overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(252, 215, 61, 0.30);
    z-index: 1;
    width: 49%;
    height: 106%;
}

/*Web Section*/
.web {
  width: 100%;
  height: 650px;
  background-color: black;
  position: relative;
}

.web--title{
  float: right;
  width: 50%;
  font-family: Maxim;
  font-size: 125px;
  position: absolute;
  top: 130px;
  right: -165px;
}

.web--new-grit{
  float: left;
  width: 50%;
  position: relative;
}

.new-grit--img {
    width: 35%;
    position: absolute;
    top: 73px;
    right: 13px;
}

.new-grit--title{
  float: right;
  width: 50%;
  font-family: Murmers;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 113px;
  left: 35px;
}

.new-grit--content {
    position: absolute;
    top: 165px;
    left: 17px;
    font-family: Murmers;
    font-size: 25px;
}

.web--megan-smith{
  float: left;
  width: 50%;
  position: relative;
  top: 325px;
  left: 5px;
}

.megan-smith--img {
    width: 35%;
    position: absolute;
    top: 11px;
    right: 13px;
}

.megan-smith--title{
  float: right;
  width: 50%;
  font-family: Murmers;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 55px;
  left: 35px;
}

.megan-smith--content {
    position: absolute;
    top: 165px;
    left: 17px;
    font-family: Murmers;
    font-size: 25px;
}