html {
  box-sizing: border-box;
  margin-top: -35px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: Maxim;
  src: url(../Fonts/Maxim.otf);
}

@font-face {
  font-family: Murmers;
  src: url(../Fonts/Murmers.otf);
}

body{
  width: 100%;
  margin: 0px 0px 0px 0px;
}

h1, p {
  color: white;
}

/*Home Section*/
.home{
  width: 100%;
  height: 615px;
  background-color: black;
}

.home--title{
  background-image: url("assets/main-pic.jpg");
  float: left;
  width: 50%;
  height: 100%;
}

.home--title h1{
  font-family: Maxim;
  font-size: 100px;
  position: absolute;
}

.title--first-name{
  top: 111px;
  left: 75px;
  z-index: 2;
  
}

.title--last-name{
  top: 209px;
  left: 287px;
  z-index: 2;
}

.intro--paragraph{
  position: relative;
  top: 205px;
  left: 10px;
  font-family: Murmers;
  font-size: 35px;
  padding-right: 30px;
}

.title--overlay {
  position:absolute;
  top:0;
  left:0;
  background-color:rgba(255, 200, 11, 0.30);
  z-index: 1;
  width: 50%;
  height: 100%;
}

/*Web Section*/
.web {
  width: 100%;
  height: 700px;
  background-color: black;
  position: relative;
}

.web--title{
  float: right;
  width: 50%;
  font-family: Maxim;
  font-size: 125px;
  position: absolute;
  top: 130px;
  right: -165px;
  z-index: 2;
}

.web--overlay {
  position:absolute;
  top:0;
  right:0;
  background-color:rgba(255, 200, 11, 0.80);
  z-index: 1;
  width: 50%;
  height: 100%;
}

.web--new-grit{
  float: left;
  width: 50%;
  position: relative;
}

.new-grit--img {
  width: 35%;
  position: absolute;
  top: 73px;
  right: 13px;
}

.new-grit--title{
  float: right;
  width: 50%;
  font-family: Murmers;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 113px;
  left: 35px;
}

.new-grit--content {
  position: absolute;
  top: 165px;
  left: 17px;
  font-family: Murmers;
  font-size: 25px;
}

.web--megan-smith{
  float: left;
  width: 50%;
  position: relative;
  top: 325px;
  left: 5px;
}

.megan-smith--img {
  width: 35%;
  position: absolute;
  top: 11px;
  right: 13px;
}

.megan-smith--title{
  float: right;
  width: 50%;
  font-family: Murmers;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 55px;
  left: 35px;
}

.megan-smith--content {
  position: absolute;
  top: 165px;
  left: 17px;
  font-family: Murmers;
  font-size: 25px;
}

/*Code Section*/
.code {
  width: 100%;
  height: 700px;
  background-color: black;
  position: relative;
}

.code--title{
  float: left;
  width: 50%;
  font-family: Maxim;
  font-size: 125px;
  position: absolute;
  top: 130px;
  left: 215px;
  z-index: 2;
}

.code--overlay {
  position:absolute;
  top:0;
  left:0;
  background-color:rgba(255, 200, 11, 0.80);
  z-index: 1;
  width: 50%;
  height: 100%;
}

.code--orm{
  float: right;
  width: 50%;
  position: relative;
  top: 5px;
  left: 5px;
}

.orm--img {
  width: 35%;
  position: absolute;
  top: 30px;
  right: 25px;
}

.orm--title{
  float: right;
  width: 50%;
  font-family: Murmers;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 80px;
  left: 160px
}

.orm--content {
  position: absolute;
  top: 165px;
  left: 17px;
  font-family: Murmers;
  font-size: 25px;
}

.code--order-supply{
  float: right;
  width: 50%;
  position: relative;
  top: 350px;
  left: 5px;
}

.order-supply--img {
  width: 35%;
  position: absolute;
  top: 30px;
  right: 25px;
}

.order-supply--title{
  float: right;
  width: 50%;
  font-family: Murmers;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 55px;
  left: 110px;
}

.order-supply--content {
  position: absolute;
  top: 165px;
  left: 17px;
  font-family: Murmers;
  font-size: 25px;
}

/*Resume Section*/
.resume {
  width: 100%;
  height: 700px;
  background-color: black;
  position: relative;
}

.resume--title{
  float: right;
  width: 50%;
  font-family: Maxim;
  font-size: 125px;
  position: absolute;
  top: 130px;
  right: -165px;
  z-index: 2;
}

.resume--overlay {
  position:absolute;
  top:0;
  right:0;
  background-color:rgba(255, 200, 11, 0.80);
  z-index: 1;
  width: 50%;
  height: 100%;
}

.resume--content{
  float: left;
  width: 50%;
  position: relative;
}

.content--title{
  position: absolute;
  top: 0px;
  left: 16px;
  font-family: Murmers;
  font-size: 30px;
}

.content--skills {
  color: white;
  font-family: Murmers;
}

.content--skills li{
  list-style-type: none;
}

.skills--1{
  
}

.skills--2{
  
}

.skills--3{
  
}

.content--education{
  position: relative;
  top: 5px;
  left: 5px;
}

.education--title{
  position: absolute;
  top: -53px;
  left: 16px;
  font-family: Murmers;
  font-size: 30px;
}

.OCS--title{
  font-family: Murmers;
  font-size: 25px;
  color: white;
  position: absolute;
  top: -19px;
  left: 14px;
}

.OCS--info {
  position: absolute;
  top: 15px;
  left: 17px;
  font-family: Murmers;
  font-size: 20px;
}

.UNL--title{
  font-family: Murmers;
  font-size: 25px;
  color: white;
  position: absolute;
  top: 69px;
  left: 14px;
}

.UNL--info {
  position: absolute;
  top: 104px;
  left: 17px;
  font-family: Murmers;
  font-size: 20px;
}

.content--jobs{
  position: relative;
  top: 5px;
  left: 5px;
}

.jobs--title {
  position: absolute;
  bottom: -223px;
  left: 15px;
  font-family: Murmers;
  font-size: 35px;
}

.artifact--title{
  font-family: Murmers;
  font-size: 25px;
  color: white;
  position: absolute;
  bottom: -250px;
  left: 14px;
}

.artifact--info {
  position: absolute;
  bottom: -320px;
  left: 17px;
  font-family: Murmers;
  font-size: 20px;
}

/*Other Section*/
.other {
  width: 100%;
  height: 700px;
  background-color: black;
  position: relative;
}

.other--title{
  float: left;
  width: 50%;
  font-family: Maxim;
  font-size: 110px;
  position: absolute;
  top: 130px;
  left: 50px;
  z-index: 2;
}

.other--overlay {
  position:absolute;
  top:0;
  left:0;
  background-color:rgba(255, 200, 11, 0.80);
  z-index: 1;
  width: 50%;
  height: 100%;
}

.other--VF{
  float: right;
  width: 50%;
  position: relative;
  top: 5px;
  left: 5px;
}

.VF--img {
  width: 25%;
  position: absolute;
  top: 16px;
  right: 25px;
}

.VF--title{
  float: right;
  width: 50%;
  font-family: Murmers;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 80px;
  left: 160px
}

.VF--content {
  position: absolute;
  top: 165px;
  left: 17px;
  font-family: Murmers;
  font-size: 25px;
}

.other--BKB{
  float: right;
  width: 50%;
  position: relative;
  top: 350px;
  left: 5px;
}

.BKB--img {
  width: 35%;
  position: absolute;
  top: 30px;
  right: 25px;
}

.BKB--title{
  float: right;
  width: 50%;
  font-family: Murmers;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 55px;
  left: 110px;
}

.BKB--content {
  position: absolute;
  top: 165px;
  left: 17px;
  font-family: Murmers;
  font-size: 25px;
}

/*Contact Setion*/
.contact {
  width: 100%;
  height: 500px;
  background-color: black;
  position: relative;
}

.contact--title{
  float: right;
  width: 50%;
  font-family: Maxim;
  font-size: 125px;
  position: absolute;
  top: 80px;
  right: -165px;
  z-index: 2;
}

.contact--overlay {
  position:absolute;
  top:0;
  right:0;
  background-color:rgba(255, 200, 11, 0.80);
  z-index: 1;
  width: 50%;
  height: 100%;
}

.contact--all {
  position: relative;
  top: 55px;
}

.contact--email-title{
  float: right;
  width: 50%;
  font-family: Murmers;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 0px;
  left: 15px
}

.email-title--address {
  position: absolute;
  top: 35px;
  left: 145px;
  font-family: Murmers;
  font-size: 25px;
}

.contact--git{
  float: right;
  width: 50%;
  font-family: Murmers;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 90px;
  left: 15px
}

.git--address {
  position: absolute;
  top: 119px;
  left: 160px;
  font-family: Murmers;
  font-size: 25px;
}

.contact--linkedin{
  float: right;
  width: 50%;
  font-family: Murmers;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 176px;
  left: 15px
}

.linkedin--address {
  position: absolute;
  top: 206px;
  left: 184px;
  font-family: Murmers;
  font-size: 25px;
}

.contact--twitter{
  float: right;
  width: 50%;
  font-family: Murmers;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 260px;
  left: 15px
}

.twitter--address {
  position: absolute;
  top: 291px;
  left: 189px;
  font-family: Murmers;
  font-size: 25px;
}