html {
  box-sizing: border-box;
  margin-top: -35px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
    font-family: Maxim;
    src: url(../Fonts/Maxim.otf);
}

@font-face {
    font-family: Murmers;
    src: url(../Fonts/Murmers.otf);
}

body{
  width: 100%;
  margin: 0 0 0 0 ;
}

h1, p {
  color: white;
}

.home{
  width: 100%;
  height: 650px;
  background-color: black;
}

.home--title{
  background-image: url("assets/main-pic.jpg");
  float: left;
  width: 50%;
  height: 100%;
}

.home--title h1{
  color: black;
  font-family: Maxim;
  font-size: 100px;
  position: absolute;
}

.title--first-name{
  top: 111px;
  left: 75px;
  z-index: 2;
  
}

.title--last-name{
  top: 209px;
  left: 287px;
  z-index: 2;
}

.intro--paragraph{
  position: relative;
  top: 205px;
  font-family: Murmers;
  font-size: 35px;
}

.title--overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(97, 91, 92, 0.50);
    z-index: 1;
    width: 49%;
    height: 106%;
}